title Some Sites
meta(charset="UTF-8")
meta(name='viewport' content="width=device-width, initial-scale=1")
meta(name="keywords" content="")
meta(name="description" content="")
//- if will this meta and favicon information be needed or this information will be in your project, just uncomment this tag's.
//- This tag's speaking your website about what icons will be used on user device
//- link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
//- link(rel="icon", type="image/png", sizes="32x32", href="image/favicon-32x32.png")
//- link(rel="icon", type="image/png", sizes="16x16", href="image/favicon-16x16.png")
//- link(rel="manifest", href="manifest.json")
//- meta(name="theme-color", content="#ffffff")
link(href="css/style.min.css" rel="stylesheet")